@model student
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
 <form method="post">
        <input type="number" asp-for="Id" class="form-control" placeholder="Enter Id"/>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
        <input type="number" asp-for="Age" class="form-control" placeholder="Enter Age" />
        <input type="number" asp-for="Fee"  class="form-control" placeholder="Enter Fee" />
        <button type="submit"> submit</button>

 </form>  




</div>


    